extends layout

block content
  h1 #{title}
  form(method='POST', action='/profesori/dodaj')
    #form-group
      label Ime:
      input.form-control(name='ime', type='text')
    #form-group
      label Prezime:
      input.form-control(name='prezime', type='text')
    #form-group
      label Mesto boravka:
      input.form-control(name='Mestoboravka', type='text')
    #form-group
      label Ocena:
      input.form-control(name='ocena', type='Number')
    #form-group
      label Autor:
      input.form-control(name='autor', type='text')
    #form-group
      label Tekst:
      textarea.form-control(name='tekst', type='text')
    br
    input.btn.btn-primary(type='submit',value='Posalji')
        
        
