extends layout

block content
    h1 #{title}
    ul.list-group
      each profesor, i in profesori
        li.list-group-item
          a(href="/profesori/"+profesor._id)=profesor.ime+' '+profesor.prezime
